---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (async () => {
	const posts = await getCollection("project");

	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: post,
	}));
}) satisfies GetStaticPaths;

const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout>
	<div class="section-project">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="project-component">
						<div class="project-content">
							<div class="caption text-color-gradient">Case study</div><div
								class="space-small"
							>
							</div><h1 class="heading-style-h3">{post.data.title}</h1><div
								class="space-medium"
							>
							</div>
							<div class="project-client">
								Projects client: {post.data.client}
							</div>
							<div class="text-color-grey-400">
								{post.data.description}
							</div><div class="space-medium"></div><a
								href="/project"
								class="button white-icon w-inline-block"
							>
								&lAarr;
								<div>Back to Projects</div></a
							>
						</div><div class="project-image-wrapper">
							<img
								src={post.data.heroImage}
								loading="lazy"
								alt=""
								class="image"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-project-body">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="project-body-component">
						<div class="project-body-content">
							<Content />
						</div>
						<div class="w-dyn-hide w-dyn-empty">
							<div>No items found.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
