---
import TechLogos from "../components/TechLogos";
import MainLayout from "../layouts/MainLayout.astro";
import freelancer_vector from "../assets/freelancer.svg";
import rob_sandars_pic from "../assets/icons/rob-sandars.webp";
import david_dav_pic from "../assets/icons/david-dav.webp";
import bill_johnson_pic from "../assets/icons/bill-jhonson.webp";
---

<MainLayout>
	<section class="section-header">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="header-component">
						<div class="max-width-medium full-width-tablet">
							<div class="caption text-color-secondary" data-aos="zoom-in">
								Hi, I'm Mehedi Hasan
							</div>
							<h1
								class="heading-style-h2"
								data-aos="zoom-in"
								data-aos-delay="150"
								data-aos-duration="1000"
							>
								WordPress developer | React JS | MERN Stack
							</h1>
							<div class="space-medium"></div>
							<div
								class="text-size-medium text-color-grey-400"
								data-aos="zoom-in"
								data-aos-delay="250"
								data-aos-duration="1000"
							>
								Design and code nicely simple things, And I love what I do.
							</div>
							<div class="space-medium"></div>
							<a
								href="/contact"
								class="button w-button"
								data-aos="zoom-in"
								data-aos-delay="450"
								data-aos-duration="1000">Contact Now</a
							>
						</div>
						<div class="header-image-wrapper" data-aos="zoom-in">
							<img
								data-aos="zoom-in"
								data-aos-delay="600"
								data-aos-duration="1000"
								src={freelancer_vector.src}
								loading="lazy"
								alt="Freelancer"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-home-about">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="home-about-component">
						<div class="home-about-image-wrapper">
							<div class="tech-logos-bg"></div>
							<TechLogos client:visible />
						</div>
						<div class="home-about-content">
							<div class="caption text-color-secondary">About</div>
							<div class="space-small"></div>
							<h2 class="heading-style-h2">Little more about me.</h2>
							<div class="space-medium"></div>
							<div class="text-size-medium text-color-grey-400">
								<p>
									Hey! My name is Mehedi Hasan and I'm a UX Enthusiast with
									skills in Front-End and WordPress Development. Since beginning
									my journey as a freelance designer nearly 6 years ago.
								</p>
								<p>
									I've done remote work for agencies, consulted for startups,
									and collaborated with talented people to create digital
									products for both business and consumer use.
								</p>
								<p>
									When I'm not on the computer, I enjoy reading books, swimming,
									and petting animals.
								</p>
							</div>
							<div class="space-medium"></div>
							<a href="/about" class="button secondary w-button"
								>More About Me</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="Services" class="section-services">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="max-width-large">
						<div class="caption text-color-secondary">Services</div>
						<div class="space-small"></div>
						<h2>Discover my unique skillset</h2>
						<div class="space-medium"></div>
						<div class="text-color-grey-400">
							Check out my services that will suit your needs.
						</div>
					</div>
					<div class="space-large"></div>
					<div class="services-component">
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba518094146ff4802d7b1_blue-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83ea918984d96338d3e_search-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">UX Research</h3>
								<div class="text-color-grey-400">
									I do UX research to provide an Up to Date user experience to
									my client. And it's a crucial aspect of the design process.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5194ef05a41047d2efc_purple-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83ea62e06890baa590c_design-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Design</h3>
								<div class="text-color-grey-400">
									I value simple content structure, clean design patterns, and
									thoughtful interactions.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba518094146ff4802d7b1_blue-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83e58f7603323ad6098_code-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Development</h3>
								<div class="text-color-grey-400">
									I like to code things from scratch, and enjoy bringing ideas
									to life in the browser.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5194ef05a41047d2efc_purple-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83fca23fde186e9871d_message-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Support</h3>
								<div class="text-color-grey-400">
									I provide my Clients full support on their bussiness issue
									relevent to my knowledge and skills.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-projects">
		<div class="padding-global">
			<div class="padding-section-medium">
				<div class="container-small">
					<div class="text-align-center">
						<h2>My Lastest Projects</h2>
						<div class="space-small"></div>
						<div class="text-color-grey-400">
							Dynamic projects, blending creativity and functionality. Explore
							my portfolio for a glimpse into versatile designs that leave a
							lasting impression.
						</div>
					</div>
				</div>
				<div class="space-large"></div>
				<div class="w-dyn-list">
					<div role="list" class="projects-component w-dyn-items">
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e2ded3daac2e14977780_joystick-blue.jpg")'
								href="/project/gaming-website"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Gaming Website</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e4072a3c82665e55f2c7_blue-ball-3d.jpg")'
								href="/project/sphere-mobile-app"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Sphere Mobile App</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e4182a3c8242dc55f310_website-design.jpg")'
								href="/project/beast-design-system"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Beast Design System</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e424b7651533d26bb9e6_waves-background.jpg")'
								href="/project/neptune-ux-ui-design"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Neptune UX/UI Design</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e42dc01358defd3aae60_app-store-logo.jpg")'
								href="/project/appstore-redesign"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Appstore Redesign</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e44b013e6aa3e9470fb0_monster-3d.jpg")'
								href="/project/catch-n-play-app"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Catch n’ play App</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e4584443c4657b6f7592_building-blocks.jpg")'
								href="/project/web-app-b2b"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">Web-app B2b</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a
								style='background-image:url("https://assets-global.website-files.com/6364e2710bb372fbb357f912/6364e463eb8de501b4ca77f4_abstract-figure.jpg")'
								href="/project/x-project-website"
								class="projects-item w-inline-block"
							>
								<div class="projects-overlay">
									<div class="projects-title">X-Project Website</div>
									<div class="projects-top-horizontal-line"></div>
									<div class="projects-top-vertical-line"></div>
									<div class="projects-bottom-horizontal-line"></div>
									<div class="projects-bottom-vertical-line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="space-large"></div>
				<div class="projects-button-wrapper">
					<a href="/projects" class="button white-icon w-inline-block">
						<div>See All Projects</div>
						<img
							src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba51862dc31078b9aec9b_arrow-white.svg"
							loading="lazy"
							alt=""
							class="icon-small"
						/>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section-testimonials">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="max-width-large">
						<div class="caption text-color-secondary">Testimonials</div>
						<div class="space-small"></div>
						<h2>What people say</h2>
						<div class="space-medium"></div>
						<div class="text-color-grey-400">
							Explore glowing client feedback in my Testimonials section,
							showcasing successful collaborations and satisfied partners.
							Discover the impact of my work.
						</div>
					</div>
					<div class="space-large"></div>
					<div class="testimonials-component">
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“Mehedi did an excellent job on my WordPress project,
									showcasing his skills in both PHP and WordPress. His expertise
									was evident, and he delivered outstanding results. I'm highly
									pleased with his work!”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={david_dav_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">David Dav</div>
										<div class="text-size-small text-color-grey-400">
											United States
										</div>
									</div>
								</div>
							</div>

							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“Hands down, one of the best freelancers I have worked with.
									Highly recommend to anyone.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={bill_johnson_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Bill Johnson</div>
										<div class="text-size-small text-color-grey-400">
											CEO, Evanrise
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“I am delighted to share my fantastic experience working with
									Mehedi for mobile edits. His willingness to go the extra mile
									to ensure the job is executed impeccably is truly impressive.
									Not only is he skilled in editing, but his valuable
									suggestions also add an extra layer of expertise to the
									project.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src="https://assets.website-files.com/634d6064d1c6401d462f6757/635bf57e78821955e28f861a_Avatar%205.jpg"
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Shine Coronel</div>
										<div class="text-size-small text-color-grey-400">
											Singapore
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“Perfect work and communication. I recommend work with this
									Upwork user”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src="https://assets.website-files.com/634d6064d1c6401d462f6757/635bf57e96dddfea56ac8d35_Avatar%206.jpg"
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“I had the pleasure of working with Mehedi recently, and I
									must say, it was an absolute delight! Mehedi's communication
									was superb, understanding my requirements perfectly.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src="https://assets.website-files.com/634d6064d1c6401d462f6757/635bf57e96dddfea56ac8d35_Avatar%206.jpg"
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba519e453a6f3ca77bf49_stars.svg"
									loading="lazy"
									alt=""
								/>
								<div>
									“Mehedi has been amazing. This is the 3rd project that we've
									worked together on and he has delivered every time. Highly
									recommend.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rob_sandars_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rob Sander's</div>
										<div class="text-size-small text-color-grey-400">
											Socially Found
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="container-small">
						<div class="text-align-center">
							<div class="caption">blog</div>
							<div class="space-small"></div>
							<h2 class="text-color-black">My Lastest Articles</h2>
							<div class="space-small"></div>
							<div class="text-color-grey">
								Stay updated with my latest insights and perspectives. Dive into
								thought-provoking articles that explore trends, tips, and
								innovation across disciplines.
							</div>
						</div>
					</div>
					<div class="space-large"></div>
					<div class="container-large">
						<div class="w-dyn-list">
							<div role="list" class="blog-grid w-dyn-items">
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/how-discord-app-changed-my-way-of-communicate-with-others"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												loading="lazy"
												alt=""
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e868b76515683e6c1c50_discord-logo-3d.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												November 14, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												How Discord app changed my way of communicate with
												others
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/the-apps-i-love-the-most-for-design-and-productivity"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												loading="lazy"
												alt=""
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												October 25, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												The apps I love the most for design and productivity
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/how-mobile-apps-help-in-digital-transformation-of-businesses"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												loading="lazy"
												alt=""
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												September 28, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												How mobile apps help in Digital Transformation of
												Businesses
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="space-large"></div>
					<div class="blog-button-wrapper">
						<a href="/blog" class="button w-button">See All Articles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
