---
import { Facebook, Github, Linkedin } from "lucide-astro";
import IconWithLink from "./IconWithLink.astro";
---

<div class="flex gap-6">
    <IconWithLink Icon={Facebook} text="Facebook" link="https://www.facebook.com/developerhasan99" />
    <IconWithLink Icon={Linkedin} text="Linkedin" link="https://www.linkedin.com/in/developerhasan99/" />
    <IconWithLink Icon={Github} text="Github" link="https://github.com/developerhasan99/" />
</div>
