---
import {
Amazonaws,
Bootstrap,
Css3,
Digitalocean,
Docker,
Express,
Figma,
Git,
Github,
Html5,
Javascript,
Linux,
Mongodb,
Mysql,
Netlify,
Nextdotjs,
Nodedotjs,
Npm,
Php,
Prisma,
React,
Sass,
Shadcnui,
Tailwindcss,
Typescript,
Vercel,
Visualstudiocode,
Vite,
Webpack,
Wordpress
} from 'simple-icons-astro'

---

<div class="flex gap-4 flex-wrap text-gray">
	<Html5 />
	<Css3 />
	<Sass />
	<Tailwindcss />
	<Shadcnui />
	<Bootstrap />
	<Javascript />
	<Typescript />
	<React />
	<Nextdotjs />
	<Express />
	<Nodedotjs />
	<Mongodb />
	<Prisma />
	<Git />
	<Github />
	<Vite />
	<Webpack />
	<Npm />
	<Visualstudiocode />
	<Figma />
	<Php />
	<Mysql />
	<Wordpress />
	<Linux />
	<Docker />
	<Netlify />
	<Vercel />
	<Amazonaws />
	<Digitalocean />
</div>