---
import white_logo from "../assets/logo-white.svg";
// Social Icons
import upwork_icon from "../assets/icons/upwork.svg";
import facebook_icon from "../assets/icons/facebook.svg";
import linkedin_icon from "../assets/icons/linkedin.svg";
---

<div role="banner" class="nav-component w-nav">
	<div class="padding-global">
		<div class="nav-container">
			<a
				href="/"
				aria-current="page"
				class="nav-logo-link w-inline-block w--current"
			>
				<img
					src={white_logo.src}
					loading="lazy"
					alt="Developer Hasan"
					class="nav-logo"
				/>
			</a>

			<nav role="navigation" class="nav-menu w-nav-menu">
				<a href="/project" class="nav-link w-nav-link">Work</a>
				<a href="/#Services" class="nav-link w-nav-link">Services</a>
				<a href="/#about" class="nav-link w-nav-link">About</a>
				<div class="nav-social-links">
					<a
						href="https://www.upwork.com/freelancers/~01e0d306e3c729d12e"
						class="nav-social-link w-inline-block"
					>
						<img src={upwork_icon.src} loading="lazy" alt="Upwork" />
					</a>
					<a
						href="https://www.facebook.com/developerhasan99"
						class="nav-social-link w-inline-block"
					>
						<img src={facebook_icon.src} loading="lazy" alt="Facebook" />
					</a>
					<a
						href="https://www.linkedin.com/in/developerhasan99/"
						class="nav-social-link w-inline-block"
					>
						<img src={linkedin_icon.src} loading="lazy" alt="Linkedin" />
					</a>
				</div>
			</nav>

			<!-- <div
				class="nav-menu-button w-nav-button"
				style="-webkit-user-select: text;"
				aria-label="menu"
				role="button"
				tabindex="0"
				aria-controls="w-nav-overlay-0"
				aria-haspopup="menu"
				aria-expanded="false"
			>
				<div class="menu-icon">
					<div class="menu-icon-line-top"></div>
					<div class="menu-icon-line-middle"></div>
					<div class="menu-icon-line-bottom"></div>
				</div>
			</div> -->
		</div>
	</div>
	<div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
