---
// Social Icons
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.tsx";
import SocialIcons from "../components/SocialIcons.astro";
---

<header role="banner" class="fixed top-0 left-0 w-full z-50 pt-4 pb-4 bg-navyBlue">
	<div class="max-w-screen-xl mx-auto flex justify-between">
		<Logo />
		<Nav client:load>
			<SocialIcons />
		</Nav>
	</div>
</header>
