---
import TechLogos from "../components/TechLogos.astro";
---


<section id="experience" class="py-24">
    <div class="max-w-screen-xl mx-auto px-4">
        <p class="text-teal text-sm uppercase tracking-widest">Skills</p>
        <h2 class="text-white text-3xl md:text-4xl font-bold leading-normal mb-4 mt-2">Technologies I Have Worked With 🔥</h2>
        <p class="text-gray text-lg mb-12">
            I've been doing web development for about 4 years now, and I'm always eager to
            learn more in this fast paced industry.
        </p>
        <TechLogos />
    </div>
</section>