---

import { Image } from 'astro:assets'
import registration_chatbot from '../assets/projects/registration-chatbot.png'
import url_shortning from '../assets/projects/url-shortning.png'
import social_dashboard from '../assets/projects/social-dashboard.png'
import ads_preview from '../assets/projects/ads-preview.png'

const projects = [
    {
        title: "Creating a Chat Bot for MyBizvi Company",
        description: "Developing a cutting-edge chatbot for MyBizVi, enhancing customer engagement, streamlining inquiries, and boosting efficiency.Personalized solutions, seamless interactions, and advanced AI-driven technology for optimal business communication.",
        client: "MyBizVi360 Agency",
        image: registration_chatbot,
    },
    {
        title: "Creating a Chat Bot for MyBizvi Company",
        description: "Developing a cutting-edge chatbot for MyBizVi, enhancing customer engagement, streamlining inquiries, and boosting efficiency.Personalized solutions, seamless interactions, and advanced AI-driven technology for optimal business communication.",
        client: "MyBizVi360 Agency",
        image: url_shortning,
    },
    {
        title: "Creating a Chat Bot for MyBizvi Company",
        description: "Developing a cutting-edge chatbot for MyBizVi, enhancing customer engagement, streamlining inquiries, and boosting efficiency.Personalized solutions, seamless interactions, and advanced AI-driven technology for optimal business communication.",
        client: "MyBizVi360 Agency",
        image: social_dashboard,
    },
    {
        title: "Creating a Chat Bot for MyBizvi Company",
        description: "Developing a cutting-edge chatbot for MyBizVi, enhancing customer engagement, streamlining inquiries, and boosting efficiency.Personalized solutions, seamless interactions, and advanced AI-driven technology for optimal business communication.",
        client: "MyBizVi360 Agency",
        image: ads_preview,
    }
]

---

<section class="py-24">
    <div class="max-w-screen-xl mx-auto px-4">
        <p class="text-teal text-sm uppercase tracking-widest text-center">Portfolio</p>
        <h2 class="text-white text-3xl md:text-4xl font-bold leading-normal text-center mb-4 mt-2">My Recent Projects 💼</h2>
        <p class="text-gray text-lg text-center max-w-screen-md mx-auto mb-12"> 
            Dynamic projects, blending creativity and functionality. Explore
            my portfolio for a glimpse into versatile designs that leave a
            lasting impression.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {
                projects.map((project) => (
                    <div>
                        
                        <Image src={project.image} alt={project.title} />
                    </div>
                ))
            }
        </div>
    </div>
</section>

