---
// Supports weights 200-800
import '@fontsource-variable/plus-jakarta-sans';

import "aos/dist/aos.css";
// Import Main Style
import { ViewTransitions } from "astro:transitions";
import Navbar from "../partials/Navbar.astro";
import Footer from "../partials/Footer.astro";
// import "../assets/css/style.css";

// Import Images
import favicon from "../assets/favicon.png";


---

<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>Mehedi Hasan - Fullstack Web Developer</title>
		<link rel="icon" type="image/x-icon" href={favicon.src} />

		<ViewTransitions />
	</head>
	<body class="bg-navyBlue">
		
		<div class="page-wrapper">
			<Navbar />
			<main class="main-wrapper">
				<slot />


				<section class="py-24 bg-[url(/cta-bg.png)] bg-cover">
					<div class="max-w-screen-lg mx-auto p-16 rounded-lg bg-navyBlue flex flex-col items-center">
						<p class="text-teal text-sm uppercase tracking-widest text-center">Let's Talk</p>
						<h2 class="text-white text-4xl font-bold text-center mb-4 mt-2">Have an Oppertunity for Me?</h2>
						<p class="text-gray text-center text-lg mb-4">
							Connect with me! Whether you have a project in mind, want
							to collaborate, or just share ideas, I'm here. Let's bring
							your vision to life together.
						</p>
						<a class="text-white bg-blue hover:bg-purpleBlue transition py-2 px-5 rounded-full" href="https://www.linkedin.com/in/developerhasan99/">Contact Me</a>
					</div>
				</section>
			</main>
			<Footer />
		</div>

		<script>
			import { aosInit } from "../js/aos";
			// runs on initial page load
			aosInit();
		</script>
	</body>
</html>
