---
import "aos/dist/aos.css";
// Import Main Style
import { ViewTransitions } from "astro:transitions";
import Navbar from "../partials/Navbar.astro";
import Footer from "../partials/Footer.astro";
import "../assets/css/style.css";

// Import Images
import favicon from "../assets/favicon.png";
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>Mehedi Hasan - Fullstack Web Developer</title>
		<link rel="icon" type="image/x-icon" href={favicon.src} />
		<link
			href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,701,300,401,400&display=swap"
			rel="stylesheet"
		/>

		<ViewTransitions />
	</head>
	<body class="bg-navyBlue">
		
		<div class="page-wrapper">
			<Navbar />
			<main class="main-wrapper">
				<slot />
				<section class="section-cta">
					<div class="padding-global">
						<div class="container-medium">
							<div class="padding-section-large">
								<div class="cta-component" data-aos="fade-up">
									<div class="text-align-center">
										<div class="caption">Let’s Talk</div>
										<div class="space-small"></div>
										<h2 class="heading-style-h3">
											Discuss your business problems
										</h2>
										<div class="space-small"></div>
										<div class="text-color-grey-400">
											Connect with me! Whether you have a project in mind, want
											to collaborate, or just share ideas, I'm here. Let's bring
											your vision to life together.
										</div>
										<div class="space-small"></div>
										<a href="#contact" class="button w-button">Contact Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<Footer />
		</div>

		<script>
			import { aosInit } from "../js/aos";
			// runs on initial page load
			aosInit();
		</script>
	</body>
</html>
